body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;

	background: url("../images/wallpaper.jpg") no-repeat fixed center center / cover;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
/*img {
	margin:10px 0 5px;
}*/
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	text-align: center;
	background: url("../images/wallpaper.jpg") no-repeat fixed center center / cover;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear: left;
	list-style: outside none none;
	margin: 10px auto 0px;
	padding: 0px;
	display: inline-block;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:20;
	text-align:center;
	background: rgba(51, 102, 153, 0.47) none repeat scroll 0% 0%;
	color:#fff;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
	border-radius: 15px;
	padding: 10px;
font-size: 12px;
}
#header ul li a:hover {
	color:#fff;

	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
	background: url("../images/wallpaper.jpg") no-repeat fixed center center / cover;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background: url("../images/wallpaper.jpg") no-repeat fixed center center / cover;		/* right column background colour */
}
.threecol .colmid {
	right:25%;			/* width of the right column */
	background: transparent url("../images/body.jpg") no-repeat fixed center center / cover;		/* center column background colour */
}
.threecol .colleft {
	right:50%;			/* width of the middle column */
	background: url("../images/wallpaper.jpg") no-repeat fixed center center / cover;	/* left column background colour */
}
.threecol .col1 {
	width:46%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
	height: 500px;
	border-radius: 20px;
box-shadow: 0px 0px 20px #333;
margin-top: 20px;

}
.threecol .col2 {
	width:21%;			/* Width of left column content (column width minus padding on either side) */
	left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */
	left:85%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	height: 200px;
	background: url("../images/wallpaper.jpg") no-repeat fixed center center / cover;
}
#footer p {
	padding:10px;
	margin:0;
}
canvas{
	position: absolute;
}

div#tools{

}

div#tools div{
	background: rgba(51, 102, 153, 0.47) none repeat scroll 0% 0%;
	border-radius: 15px;
	padding: 5px;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

div#tools div:hover{
	color: #ffffff;
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}

div#online-users div{
	background: rgba(51, 102, 153, 0.47) none repeat scroll 0% 0%;
	border-radius: 15px;
	padding: 5px;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

div#online-users div:hover{
	color: #ffffff;
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}

div.col2 p{
	text-align: center;
color: rgb(255, 255, 255);
font-size: 28px;
padding: 5px;
background: url("../images/body.jpg") no-repeat fixed center center / cover;
text-shadow: 2px 2px #333;
}

div.col3 p{
	text-align: center;
color: rgb(255, 255, 255);
font-size: 28px;
padding: 5px;
background: url("../images/body.jpg") no-repeat fixed center center / cover;
text-shadow: 2px 2px #333;
}