body {
	background:#222526;
	position:relative;
	padding:20px;
	font-family:open-sans;
} 

.header {
	background: #ff6964;
	width: 100%;
	height: 60px;
	margin-top: -28px;
}
.newbox {
	background: #000;
	color:#fff;
	width:auto;
	text-align: center;
}
.topcolumn {
	display: block;
    font-size: 30px;
    text-align: left;
    font-family: open-sans;
    margin-top: 3px;
    background: #323033 url("columnback.jpg") no-repeat scroll 50% center / auto 750px;
    width: 100%;
    height: 450px;
    color:#fff;
    font-weight: bold;
    margin-left: 1px;

}
.secondcolumn {
	background: #f1f1f1 url("newnewtextback.jpg"); 
	display: block;
	width: 100%;
	height:250px;
	color:#000;
	text-align: center;
	font-family: open-sans;
	font-size: 25px;
}
.secondcolumn2 {
	background: #fff url("examplepalmrejection.jpg") no-repeat;
	width:100%;
	height: 450px;
	margin-top: -24px;
}

.secondcolumn3 {
	background: #fff url("exampleblendnew.jpg") no-repeat;
	margin-top: -24px;
	width:100%;
	height: 450px;
}
h2{
	color: #fff;
	margin-bottom: 15px;
	padding:40px;
	font-family: open-sans;
}

h3{
	color: #fff;
	font-family: open-sans;
	font-size: 15px;
	line-height: 1px;
	text-align: center;
}
h4{
	color: #fff;
	font-family: open-sans;
	font-size: 25px;
	margin-top: -44px;

}
.thirdcolumn{
	background: #fff url("pencilsecond.jpg")no-repeat scroll 50% center / auto 550px;; 
	display: block;
	width: 100%;
	height:50px;
	color:#fff;
}

.centertext {
	margin-top: -170px;
	margin-left: 15px;
	text-align:center;
	font-weight: bolder;
	font-family: open-sans;
	color:#fff;
	font-size: 40px;

}
p{
	color: #fff;
	margin-top: -15px;
	text-align: center;
	margin-left: 15px;
	font-weight: bold;
	font-family: open-sans;
}

.formcontainer {
	position:absolute;
	margin-top: -1530px;
	margin-left: 20%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#signupsection {
	width:550px;
	height:auto;
	position:relative;
	margin-top: 150px;
	text-align:center;
	float:left;
	background:#ff6964;
	padding:5px 10px 55px 8px;
	width:170px;
	height:205px; 
	border-radius:3px;
	box-shadow: 0px 0px 10px 2px #000; 
	margin-right:10px;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}
#signupsection:hover {
	box-shadow: 0px 0px 0px 0px #ea03bb;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

.signupusername {
	display:block;
	margin:0px auto 15px;
	border-radius:5px;
	background: #111;
	width:85%;
	padding:10px 20px 12px 10px;
	border:none;
	color:#fff;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}
.signupemail {
	display:block;
	margin:0px auto 15px;
	border-radius:5px;
	background: #111;
	width:85%;
	padding:12px 20px 12px 10px;
	border:none;
	color:#fff;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}

.signuppassword {
	display:block;
	margin:0px auto 15px;
	border-radius:5px;
	background: #111;
	width:85%;
	padding:12px 20px 12px 10px;
	border:none;
	color:#fff;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}

.usersignup {
	background:#000000;
	margin:0px auto 15px;
	border-radius:5px;
	width:50%;
	height:80%;
	padding:5px;
	float:right;
	border:none;
	color:#fff;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}
.newbox {
	background: #000;
	color:#fff;
	width:auto;
}

#mainlogin {
	float:left;
	margin-top: 150px;
	width:250px;
	height:245px;
	padding:10px 15px;
	position:relative;
	background:#111;
	border-radius:3px;
	

}

#or {
	position:absolute;
	left: -25px;
	top: 10px;
	background:#fff;
	text-shadow:0 px 0px #121212;
	color:#ff69b4;
	width:40px;
	height:40px;
	text-align:center;
	border-radius:60%;
	font-weight:bold;
	line-height:38px;
	font-size: 13px;
}


.signinusername {
	display:block;
	margin:0px auto 15px;
	border-radius:5px;
	background: #ff6964;
	width:85%;
	padding:12px 20px 12px 10px;
	border:none;
	color:#fff;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}
.signinpassword {
	display:block;
	margin:0px auto 15px;
	border-radius:5px;
	background: #ff6964;
	width:85%;
	padding:12px 20px 12px 10px;
	border:none;
	color:#fff;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}
.signin:focus {
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;  
	box-shadow: 0px 0px 5px 1px #161718;
}

.usersignin {
	background:#ff6964;
	margin:0px auto 15px;
	border-radius:5px;
	width:50%;
  	height:80%;
	padding:10px;
  	float:right;
	border:none;
	color:#000;                       
	box-shadow:inset 0px 1px 5px #272727;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
}

h1 {
	text-align:center;
	color:#fff;
	font-size:13px;
	padding:12px 0px;
}

#resetpassword {
	color:#88887a;
	font-size: 0.8em;
	text-align:left;
	padding-left:5px;
}

a {
	color:#88887a;
	text-decoration:none;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

a:hover {
	color:#fff;
	margin-left:5px;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

/* Firefox 18- */
:-moz-placeholder { 
	color:#ff6964; 
}

/* Firefox 19+ */
:-moz-placeholder {  
	color:#ff6964;  
}

:-ms-input-placeholder {  
	color:#ff6964; 
}

